<main class="container" style="margin-top:130px">
    <form action="/noticeAdd" method="post">
        <div>
            <div>
                <div>
                    <label for="nb_title">제목</label>
                </div>
                <div>
                    <input id="nb_title" name="nb_title">
                </div>
            </div>
            <div>
                <div>
                    <label for="nb_content">내용</label>
                </div>
                <div>
                    <textarea id="nb_content" name="nb_content" style="width:50vw; height:40vh"></textarea>
                </div>
            </div>
        </div>
        <input type="submit" value="추가">
    </form>
    <a href="/noticeAdd"></a>